[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=0
timerHide=50
timerShow=0
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=0

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:discord.desktop,applications:visual-studio-code.desktop,applications:org.kde.konsole.desktop

[Containments][1][ConfigDialog]
DialogHeight=684
DialogWidth=570

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeIndicatorType=DotIndicator
advanced=false
appletOrder=57
autoDecreaseIconSize=false
durationTime=x1
iconMargin=0
iconSize=40
maxLength=90
panelSize=100
panelTransparency=40
shadowOpacity=35
shadowSize=45
showGlow=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
activeStyle=Dot

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=d633b2b3-c0f8-410d-8f23-3a4300fc0c55
launchers=
showInMenu=true
textColor=fcfcfc
version=2
